{% if snapshots %}
    {% for snapshot in snapshots %}

        <div class="jumbotron jumbotron-fluid jumbo-color rounded">
        <div class="container">
          <div class="row">
             <div class="col-sm-8">
            <h1 class="display-4 font-weight-bold">{{snapshot.title}}</h1>
            </div>
            <div class="col-sm-4">
              <h5>Author - {{snapshot.user_name}}</h5>
            </div>
          </div>
            <p class="lead">
            {{snapshot.desc}}
            </p>
        </div>
        </div>

    {% endfor %} 

{% else %}
<div class="jumbotron jumbotron-fluid jumbo-color rounded">
  <div class="container">
    <h1 class="display-4 font-weight-bold">This is title.</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis amet
      ipsa qui et minus iure ut ratione facere reiciendis quaerat?
    </p>
  </div>
</div>

{% endif %}
